services:
  # PostgreSQL Database
  paperless-db:
    image: postgres:latest
    container_name: paperless-db
    environment:
      POSTGRES_USER: swen3
      POSTGRES_PASSWORD: paperless123
      POSTGRES_DB: PaperlessDB
    ports:
      - "5432:5432"
    volumes: #vll muss du das doch so lassen, ich hatte mit data Fehlermeldungen.: - pgdata:/var/lib/postgresql/data
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U swen3 -d PaperlessDB"]
    networks:
      - paperless-network

  # RabbitMQ with Management UI 
  paperless-rabbitmq:
    image: rabbitmq:3-management
    container_name: paperless-rabbitmq
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 15
      start_period: 60s
    networks:
      - paperless-network

  # MinIO for Object Storage
  paperless-minio:
    image: minio/minio
    container_name: paperless-minio
    ports:
      - "9000:9000" # MinIO API
      - "9090:9090" # MinIO Console
    volumes:
      - miniodata:/data
    networks:
      - paperless-network
    command: server /data --console-address ":9090"

  # Backend 
  paperless-rest:
    build:
      context: ./Paperless.REST
      dockerfile: REST.Dockerfile
    container_name: paperless-rest
    ports:
      - "8080:8080"
    depends_on:
      paperless-db:
        condition: service_healthy
      paperless-rabbitmq:
        condition: service_started
    networks:
      - paperless-network

  # Frontend with React
  paperless-frontend:
    build:
      context: ./Paperless.Frontend
      dockerfile: Frontend.Dockerfile
    container_name: paperless-frontend
    ports:
      - "80:80"
    depends_on:
      - paperless-rest
    networks:
      - paperless-network


  # Paperless Services with Workers
  paperless-services:
    build:
      context: .
      dockerfile: ./Paperless.Services/Services.Dockerfile
    container_name: paperless-services
    depends_on:
      paperless-rabbitmq:
        condition: service_healthy
    ports:
    - "8082:8082"
    networks:
      - paperless-network

networks:
  paperless-network:
    driver: bridge

volumes:
  pgdata:
  miniodata:
  rabbitmqdata: